In [1]:
import numpy as np
import os
import h5py
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
import random
from glob import glob
import pickle5 as pickle

In [2]:
source_folder = os.path.abspath('/mnt/cube/earneodo/bci_zf/neuropix/birds/z_w12m7_20/Ephys/processed/20201104/2500r250a_3500_dir_g0/')

In [3]:
wav_name = 'wav_mic.wav'
motif_dic_name = 'mot_dict.pkl'
cluster_meta_name = 'clu_df.pkl'
spike_data_name = 'spk_df.pkl'

# motif_dict

In [4]:
mot_dict = pickle.load(open(os.path.join(source_folder, motif_dic_name), 'rb'))

‘template’: np.array,

‘s_f’: int, sample_rate of the stream used to find the template

‘start_ms’: list, start in ms in the time scale of the wav_mic.wav file

‘start_sample_naive’: np.array, (for debugging: start sample expected from resamping start_ms to the nidq sample rate).

‘start_sample_nidq’: np.array, start sample in the binary (‘nidq’) imec file

‘start_t_0’:  np.array, start in sec, relative to the binary (‘nidq’) imec file

‘start_sample_ap_0’: np.array, start sample corresponding in the probe binary imec file (‘ap0’)

‘start_t_ap_0’: np.array, start in sec, relative to the probe binary imec file (‘ap0’).

In [5]:
sr = mot_dict['s_f']

In [34]:
template = mot_dict['template']
template_length = len(template)

In [35]:
print(template_length)

13749

In [20]:
mot_dict['start_ms']

array([  12830.14547884,   13350.1513751 ,   13872.15729403,
         14710.16679608,   15556.17638884,   16436.18636712,
       7315266.94656828, 7316338.95872365, 7317214.96865657,
       7318123.97896369])

In [28]:
mot_dict['start_t_ap_0']

array([  12.83021251,   13.35023873,   13.87217502,   14.71021434,
         15.55626437,   16.43627212, 7315.26699596, 7316.33899532,
       7317.21499361, 7318.12398729])

1. 'nidq' imec file?
2. 'ap0' imec file? spiking data
3. 10 motifs?
4. end/length of motif? (same as template?) yes

# cluster_df

In [9]:
cluster_df = pickle.load(open(os.path.join(source_folder, cluster_meta_name), 'rb'))

In [30]:
cluster_df.tail()

,cluster_id,KSLabel,template,max_chans,main_chan,main_7,main_wav_7,nucleus
808,808,mua,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[365, 358, 357, 362, 353, 364, 366, 368, 367, ...",365,"[353, 357, 358, 362, 364, 365, 366]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0....",NaN
813,813,mua,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[370, 373, 372, 344, 374, 362, 369, 371, 357, ...",370,"[344, 362, 369, 370, 372, 373, 374]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0....",NaN
814,814,mua,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[370, 363, 368, 356, 373, 361, 357, 369, 367, ...",370,"[356, 357, 361, 363, 368, 370, 373]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0....",NaN
807,807,mua,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[373, 365, 370, 358, 372, 349, 347, 363, 357, ...",373,"[347, 349, 358, 365, 370, 372, 373]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0....",NaN
815,815,mua,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[373, 355, 364, 372, 359, 352, 370, 369, 365, ...",373,"[352, 355, 359, 364, 370, 372, 373]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0....",NaN

In [33]:
cluster_df[cluster_df.cluster_id==143]

,cluster_id,KSLabel,template,max_chans,main_chan,main_7,main_wav_7,nucleus
143,143,good,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[43, 40, 42, 45, 39, 44, 38, 41, 49, 46, 47, 3...",43,"[38, 39, 40, 42, 43, 44, 45]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0....",NaN

1. nucleus: only look for 'ra'? don't use nan
2. KSLabel: 'mua'? multi unit activity, 1) together 2) good 3) mua
3. channel: any use in this run? na

In [14]:
cluster_df.iloc[0].template.shape

(82, 375)

# spike_df

In [6]:
spike_df = pickle.load(open(os.path.join(source_folder, spike_data_name), 'rb'))

In [11]:
spike_df.head()

   times  clusters nucelus  main_chan kslabel
0     90       132     NaN         41    good
1    192       143     NaN         43    good
2    195       132     NaN         41    good
3    202       390     NaN        114    good
4    208       405     NaN        122    good

In [29]:
spike_df.times.values

array([       90,       192,       195, ..., 229265553, 229265553,
       229265558], dtype=uint64)

1. times in samples
2. clusters = cluster_id in cluster_df?
3.